@import "../styles/variables";
@import "../styles/mixins";

.container_su {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px; /* 最大幅を600pxに設定 */
  align-items: center;
  justify-content: center;
  margin: 30px auto; /* 水平中央揃えと上部マージンを追加 */

  @media (max-width: 600px) {
    margin-top: 20px; /* 小さい画面の場合は上部マージンを減らす */
  }
}

.content_su {
  width: 90%;
  box-sizing: 20pxs;
  background-color: $blue-color2;
  transition: 200ms;
  border-radius: 5px;
  @include box-shadow;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  .signup-form {
    background-color: transparent;
    p {
      color: white;
      margin: 18px 12px 0 !important;
      font-size: 28px !important;
      @media (max-width: 600px) {
        font-size: 24px !important; /* 小さい画面の場合はフォントサイズを小さく */
        margin: 10px 0 5px 0 !important;
      }
    }
  }

  .content2_su {
    display: flex;
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 横方向の中央揃え */
    width: 100%; /* 親の幅を100%に設定 */
    position: relative; /* close-buttonの位置を調整するためにrelativeに設定 */

    h1 {
      color: white;
      flex: 0 0 auto; /* メールアドレスの幅を自動に設定 */
      padding: 0;
      margin: 10px;
      font-size: 28px !important;
      @media (max-width: 600px) {
        font-size: 20px !important;
        padding: 0;
      }
    }
  }
  .content3_su {
    display: flex;
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 横方向の中央揃え */
    width: 90%; /* 親の幅を100%に設定 */
    flex-direction: column;
  }

  p {
    width: 100%;
    text-align: center;
    margin: 20px 0 5px 0 !important;
    font-size: 30px !important;
    color: white;
    font-weight: 600;

    @media (max-width: 600px) {
      font-size: 24px !important; /* 小さい画面の場合はフォントサイズを小さく */
      margin: 20px 0 5px 20px;
    }
  }

  .login-input_su,
  .login-input_sue {
    background-color: white !important;
    color: $blue-color2;
    width: 450px !important; /* 幅を600pxに設定 */
    border: none;
    font-size: 20px;
    font-weight: 400;
    padding: 8px 0;
    margin: 10px 10px 10px;
    @media (max-width: 600px) {
      font-size: 12px; /* 小さい画面の場合はフォントサイズを小さく */
      font-weight: 600;
      max-width: 400px;
      width: 92% !important;
      padding: 5px 0;

      margin: 10px 0;
    }
  }

  .login-button_su {
    background-color: white !important;
    color: $blue-color2;
    width: 90%;
    text-align: center;
    border: none;
    border-radius: 5px;
    @include box-shadow;
    font-size: 24px;
    font-weight: 400;
    margin: 20px 0;
    max-width: 330px;
    @media (max-width: 600px) {
      width: 70% !important;
      max-width: 280px;
      font-size: 16px !important;
      padding: 6px 0;
      margin: 20px 0 15px 0 !important;
    }

    &:hover {
      background-color: $blue-color2;
      color: $blue-color;
      cursor: pointer;
      font-size: 25px;
    }

    &:active {
      transform: translateY(3px) translateX(3px);
      transition-duration: 100ms;
    }
    @media (max-width: 600px) {
      font-size: 19px; /* 小さい画面の場合はフォントサイズを小さく */
      font-weight: 600;
      width: 90%; /* 小さい画面の場合は全体幅を設定 */
      margin: 10px 0;
      &:hover {
        background-color: $blue-color2;
        color: $blue-color;
        cursor: pointer;
        font-size: 21px;
      }

      &:active {
        transform: translateY(3px) translateX(3px);
        transition-duration: 100ms;
      }
    }
  }

  .lubi_su {
    color: white;
    width: 90%;
    font-size: 18px;
    text-align: left;
    margin-bottom: 3px;
    @media (max-width: 600px) {
      font-size: 14px !important;
    }
  }
}
.close-button3_su {
  position: absolute; /* close-buttonを絶対位置に設定 */
  right: 10px; /* 親の右端からの距離を設定 */
  margin-top: 1px;
  background: white !important;
  color: black;
  width: 30px;
  // text-align: center;
  font-size: 18px !important;
  padding: 0 !important;
  padding-bottom: 2px !important;
  cursor: pointer;

  @media (max-width: 600px) {
    margin-top: 8px;
    font-size: 14px !important;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0 !important;
    margin-top: 0;
    padding-bottom: 2px;
  }
}
.signup-password-show-button {
  font-size: 18px;
  margin-top: 10px !important;
  width: 130px;
  padding: 7px !important;
  @media (max-width: 600px) {
    font-size: 14px;
    width: 80px;
    padding: 3px !important;
  }
}
